.card {
    margin-bottom: 96px;
    background-color: var(--color-background-4);
    padding-left: 0px;
    padding-right: 0px;
}

.tableTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

.tableHeader {
    display: flex;
    flex-direction: column;
}