
.section {
    background-color: var(--color-background-1);
}

.container {
    padding-top: 92px;
    padding-bottom: 92px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    column-gap: 140px;
    row-gap: 20px;
}

.text {
    display: flex;
    gap: 24px;
    flex-direction: column;
    width: 500px;
}

.textBody {

}

.imageWrapper {
    width: 450px;
    height: 450px;
}