.card {
    padding-left: 0px;
    padding-right: 0px;
}

.table {
    table-layout: fixed;
}

.tableRow {
    background-color: var(--color-background-3);
}

.tableRowAlt {
    background-color: var(--color-background-4);

}