.table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

.tableRow {
    background-color: var(--color-background-3);
}

.tableRowAlt {
    background-color: var(--color-background-4);
}

.title {
    padding-left: 16px;
}