.heroSection {
    background-color: var(--color-background-1);
    background-image: url('../../public/images/Hero2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 21% 60%;
    
    min-height: 80vh;
    width: 100%;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: clamp(500px, 76%, 1225px);
}