.search {
    display: flex;
    flex-direction: row;
    padding: .5rem;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F7F7;
    box-shadow: 0 0.5rem 0.8rem rgba(189, 197, 209, 1.0);
    transition: box-shadow 100ms;
    z-index: 2;
    position: relative;
    height: 42px;
}

.search:hover {
    box-shadow: 0 0.5rem 0.8rem rgb(171, 178, 187);
}

.searchbar {
    border-style: none;
    margin-left: 0.65rem;
    height: 100%;
    font-size: 1rem;    
    background-color: #F7F7F7;
    width: 100%;
}

.searchbar:focus {
    outline: none;
    outline-width: 0;
    border: none;
}

.button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: inherit;
    padding-right: 0.5rem;
}

.inputWrapper {
    position: relative;
}

.dropDownMenu {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 42px * 2;
    background-color: #F7F7F7;
    z-index: 1;
    box-shadow: 0 0.5rem 0.8rem rgb(171, 178, 187);
    border-radius: 10px;
    padding-top: 40px;
    flex-direction: column;
    display: flex;
    padding-bottom: 0.35rem;
}

.threeDotsWrapper {
    align-self: center;
}

.searchOnDropDown {
    box-shadow: none;
    border-radius: 10px 10px 0px 0px;
    border-bottom: none;
}

.searchOnDropDown:hover {
    box-shadow: none;
}

.breakLine {
    border-top: 3px solid rgba(189, 197, 209, 0.5);
    display: block;
    position: relative;
    width: 97%;
    align-self: center;
    padding-bottom: 0.5rem;
}

.dropDownMenuList {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.dropDownMenuElement {
    list-style: none;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.dropDownMenuElement:hover, .dropDownMenuElement:focus {
    text-decoration: none;
    background-color: #d4d4d4;    
}

.dropDownText {
    font-size: 1rem;
    word-break: break-all;
    padding-bottom: .25rem;
}

.hidden {
    visibility: hidden;
}

.boldedDropDownText {
    font-size: 1rem;
    font-weight: 600;
}

.italicsDropDownText {
    font-family: 'Roboto-Italic';
}

.searchIcon {
    filter: invert(9%) sepia(3%) saturate(23%) hue-rotate(343deg) brightness(99%) contrast(90%);
    min-width: 25px;
    min-height: 25px;
}  

.dropDownIcon {
    padding-right: 1rem;
}