.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 8px;

    background-color: var(--color-background-2);
    border: 1px solid var(--color-primary);
    box-shadow: 0px 0px 4px var(--color-secondary-opacity);
    border-radius: 8px;
}

.start {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px
}