@import "../../../styles/colors.module.scss";

.heroSection {
    background-color: $color-black;
    background-image: url('../../../public/images/Hero2x.png');
    background-size: cover;
    background-position: 62% 33%;
    
    min-height: 80vh;
    width: 100vw;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: clamp(500px, 76%, 1225px);
}