.section {
    padding-top: 4px;
}

.container {
    height: 60px;
    width: var(--width-content);
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.searchBar {
    flex-grow: 1;

}
