.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.textLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.text {
    font-size: 12px;
    transition: all 50ms;
    border-radius: 15px;
    position: relative;

}

.text::after {
    content: "";
    position: absolute;
    background-color: var(--color-primary);
    top: 16px;
    left: 0;
    width: 100%;
    height: 2.5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 100ms ease-in;
}

.text:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.iconLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
