
.main {
    margin: auto;
    max-width: 1000px;
    padding: 0rem 1rem;
}

.header {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.subheader {
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.itemheader {
    font-size: 1.15rem;
    margin-top: 1.25rem;
}

.text {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}

.spacer {
    min-height: 10vh;
}

.strong {
    
}

.list {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.listElement {
    margin-top: 0.25rem;
    margin-left: 1rem;
}

.link {
    word-break: break-all;
}