.container {
    background-color: var(--color-background-4);
}

.text {
    display: flex;
    gap: 24px;
    flex-direction: column;
    width: 500px;
}

.textBody {

}

.imageWrapper {
    width: 450px;
    height: 450px;
}