.footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.text {
    color: white;
    margin: 1rem;

}

.link {
    color: #6fff61;
}

.link:hover {
    text-decoration: underline;
}

.link:visited {
    color: #6fff61;
}

.emphasis {
    color: #6fff61;
}