
.search {
    display: flex;
    flex-direction: row;
    padding: .5rem;
    border-style: solid;
    border-radius: 10px;
    border-width: 0.05px;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F7F7;
    border-color: #d4d4d4;
    box-shadow: 0 0.5rem 1.2rem rgba(189, 197, 209, 0.5);
    transition: box-shadow 100ms;
}

.search:hover {
    box-shadow: 0 0.5rem 1.2rem rgba(189, 197, 209, 0.9);
}

.searchbar {
    border-style: none;
    margin-left: 0.5rem;
    height: 100%;
    font-size: 1rem;    
    background-color: #F7F7F7;
    width: 100%;
}

.searchbar:focus {
    outline: none;
    outline-width: 0;
    border: none;
}

.button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: inherit;
    filter: invert(9%) sepia(3%) saturate(23%) hue-rotate(343deg) brightness(99%) contrast(90%);

}

.searchIcon {
    
}  