
.search {
    display: flex;
    flex-direction: row;
    padding: .5rem;
    border-style: solid;
    border-radius: 10px;
    border-width: 0.05px;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F7F7;
}

.searchbar {
    min-width: 350px;    
    border-style: none;
    margin-left: 0.5rem;
    height: 100%;
    font-size: 1rem;    
    background-color: #F7F7F7;

}

.searchbar:focus {
    outline: none;
    outline-width: 0;
    border: none;
}

.button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: inherit;
}

.searchIcon {
    
}  