.searchBarWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.searchTextWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.iconWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}