
.section {
    background-color: var(--color-background-1);
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    column-gap: 140px;
    row-gap: 20px;
}

.reverseContainer {
    flex-wrap: wrap;
}