
.section {
    background-color: var(--color-background-1);
}

.container {
    width: var(--width-content);
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    row-gap: 20px;
}

.reverseContainer {
    flex-wrap: wrap;
}

@media (max-width: 1280px) {
    .container {
        justify-content: center;
    }
}