.col2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.col1 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    
}

.col3 {
    display: flex;
    flex-direction: row;
    justify-content: end;
}