.generalInfoDashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}

.columnReverse {
    align-items: flex-end;
}

.hr {
    width: 75%;
    border-width: 1px;
    border-color: var(--color-background-6);
    align-self: center;
}