.generalInfoDashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.hr {
    width: 75%;
    border-width: 1px;
    border-color: var(--color-background-6);
}