.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titlebox {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'Lato-Black';
    font-size: clamp(4rem, 7vw, 4.5rem);
    text-align: center;
}

.subtitle {
    font-family: 'Roboto-Light';
    font-size: 1.25rem;
    opacity: 0.75;
    text-align: center;
    
    .emphasis{
        font-family: 'Roboto-Regular';
        font-size: 1.25rem;
        color: #00e100;
        opacity: 1;
        font-weight: 600;
        display: inline-block;
    }
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
        
    .card {
        margin: clamp(1rem, 1vw, 2.5rem);
        display: flex;
        flex-direction: column;
        width: 40vw;
    }

    .cardTitle {
        font-family: 'Roboto-Regular';
        font-size: 1.25rem;
        font-weight: 400;
        align-self: flex-start;
    }
}




// .row {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: space-between;
//     margin-bottom: .25rem;
//     margin-top: .25rem;
// }

.row {
    display: grid;
    grid-template-columns: 1.25fr 2fr .45fr;
    align-items: center;
    margin-bottom: .25rem;
    margin-top: .25rem;

    .leftrow {
        display: flex;
        flex-direction: column;
        justify-self: start;
        margin: 3px;
    }
    
    .middlerow {
        margin-left: .5rem;
        vertical-align: middle;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto 1fr;
    
    }
    
    .rightrow {
        justify-self: end;
        padding: 3px;
        text-align: end;
        font-size: .9rem;
    }
        
    .amount {
        text-align: end;
    }
}

.truncate {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: clamp(3vw, 15vw, 50vw);
    text-align: center;
    vertical-align: middle;
}


@media screen and (max-width: 1450px) {
    
    .cards {
        flex-direction: column;
        width: 100%;
        align-items: center;

        .card {
            width: clamp(50vw, 900px, 80vw);
        }
    }


    .truncate {
        max-width: clamp(3vw, 35vw, 100vw);
    }
}

@media screen and (max-width: 570px) {
    
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: .25rem;
        margin-top: .25rem;
        align-items: flex-start;
        margin-bottom: 0.25rem;
        margin-top:0.25rem;
    }
 
    .truncate {
        max-width: clamp(3vw, 60vw, 100vw);
    }

    .leftrow {
        margin: 0rem;
        padding: 0rem;
        width: 100%;
    }

    .middlerow {
        margin: 0rem;
        padding: 0rem;
    }

    .rightrow {
        margin: 0rem;
        padding: 0rem;
    }
    
    .producer {
        display: grid;
        grid-template-columns: auto auto;
    }
}
