.main {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    margin:auto;
    margin-top: 1vh;
}

.titlebox {
    margin-bottom: 0rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
}

.searchBarWrapper {
    align-self: flex-start;
    width: 50vw;
    max-width: 800px;
}

.title {
    font-family: 'Roboto-Light';
    font-size: 1.9rem;
    margin-top: 0.6rem;
    margin-bottom: 0.4rem;
}

.subtitle {
    font-family: 'Roboto-Light';
    font-size: 1.1rem;
    margin-bottom: 0.4rem;
}

.cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    flex-wrap: wrap;
        
    .card {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        border-width: 1px;
        border-style: solid;
        border-radius: 10px;
        border-color: #d4d4d4;
        padding: 1rem;
        margin: 1rem;
        margin-left: 0rem;
        box-shadow: 0 0.5rem 1.2rem rgba(189, 197, 209, 0.5);
        transition: all 100ms;
    }
    

    .cardTitle {
        font-family: 'Roboto-Regular';
        font-size: 1.25rem;
        font-weight: 400;
        align-self: flex-start;
    }
}

.cardsChart {
    flex-direction: row;
}

.cardChart {
    max-height: 200px;
    width: calc(50% - 1rem);
}

.card:hover {
    box-shadow: 0 0.5rem 1.2rem rgba(189, 197, 209, 0.8);
}

.noBreak {
    white-space: nowrap;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
}

.row:hover {
    background-color: #e0f7e079;
}

.row {
    display: grid;
    grid-template-columns: 1.0fr .8fr .2fr;
    align-items: center;
    margin-bottom: .55rem;
    margin-top: .25rem;
}

.rowMomentum:hover {
    background-color: #e0f7e079;
}


.rowMomentum {
    display: grid;
    grid-template-columns: 1.25fr .45fr;
    align-items: center;
    margin-bottom: .55rem;
    margin-top: .25rem;

}

.leftrow {
    display: flex;
    flex-direction: column;
    justify-self: start;
}

.middlerow {
    vertical-align: middle;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr;
}

.rightrow {
    justify-self: end;
    text-align: end;
    white-space: nowrap;
}
    
.amount {
    text-align: end;
}

.truncate {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: clamp(3vw, 15vw, 50vw);
    text-align: center;
    vertical-align: middle;
}

.seeMore {
    align-self: flex-end;
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
}

@media screen and (max-width: 1450px) {

    .titlebox {
    }

    .searchBarWrapper {
        align-self: center;
        width: clamp(50vw, 900px, 90vw);
        max-width: none;
    }

    .cards {
        flex-direction: column;
        width: 100%;
        align-items: center;

        .card {
            margin-left: 1rem;
            align-self: center;
            width: clamp(50vw, 900px, 90vw);
        }
    }


    .truncate {
        max-width: clamp(3vw, 35vw, 100vw);
    }
}

@media screen and (max-width: 570px) {
    .main {
        max-width: 100%;
    }


    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 0.25rem;
        margin-top:0.25rem;
            
        .leftrow {
            margin: 0rem;
            padding: 0rem;
            width: 100%;
        }

        .middlerow {
            margin: 0rem;
            padding: 0rem;
        }

        .rightrow {
            margin: 0rem;
            padding: 0rem;
        }
    }
 
    .truncate {
        max-width: clamp(3vw, 60vw, 100vw);
    }

    
    .producer {
        display: grid;
        grid-template-columns: auto auto;
    }
}
