.heroSection {
    background-color: var(--color-hero-background);
    background-image: url('../../../public/images/Hero2x_fix.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    height: 80vh;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: var(--width-content);
    height: 72%;
    padding-top: 92px;
}