.bar {
    background-color: rgb(0, 255, 13);
    color: black;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Roboto-Bold';
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 16px;
}