.section {
    background-color: var(--color-background-2);
    height: 160vh;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin: auto;
    width: var(--width-content);
    padding-top: 92px;
}

.tables {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
}

.stretchWrapper {
    flex-grow: 1;
}