.main {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: clamp(150px, 80vw, 1000px)
}

.titleline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cardTitle {
    align-self: flex-start;
    font-family: 'Roboto-Regular';
    font-size: 1.25rem;
    font-weight: 400;
}

.row {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    justify-content: flex-start;
}

.truncate {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 171px;
}

.rowleft {
    display: flex;
    flex-direction: column;
    justify-self: start;
    min-width: clamp(170px, 20%, 100%);
}

.rowright {
    justify-self: start;
    overflow-wrap: break-word;
    word-break: break-all;
}


.momentumButton {
    margin-left: 1rem;
}