body {
  --color-text: #FFFFFF;
  --color-subtext: #B9B9B9;
  --color-primary: #0AB30E;
  --color-secondary: #24FF00;
  --color-secondary-opacity: #22ff00cc;
  --color-background-1: #000000;
  --color-background-2: #0A0A0A;
  --color-background-3: #0D0D0D;
  --color-background-4: #111111;
  --color-background-5: #111111;
  --color-background-6: #1B1B1B;
  --color-hero-background: #010600;

  --color-gradient: #12121200, #141B13;

  --width-content: clamp(500px, 76%, 1190px);
  
}

body[data-theme="light"] {
  --color-text: #e62dec;
  --color-subtext: #B9B9B9;
  --color-primary: #0AB30E;
  --color-secondary: #24FF00;
  --color-secondary-opacity: #22ff00cc;
  --color-background-1: #000000;
  --color-background-2: #0A0A0A;
  --color-background-3: #0D0D0D;
  --color-background-4: #111111;
  --color-background-5: #111111;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: .875rem;
  background-color: var(--color-background-1);
  color: var(--color-text);
}

a {
  color: inherit; 
  text-decoration: inherit;
}

button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  color: #007185;
}

button:hover {
  color: #C7511F;
  text-decoration: underline;
}

input {
  all: unset;
  caret-color: var(--color-text);
}

* {
  box-sizing: border-box;
  margin:0; 
  padding:0; 
  margin-block-start:0; margin-block-end:0; margin-inline-start:0; margin-inline-end:0;
  padding-block-start:0; padding-block-end:0; padding-inline-start:0; padding-inline-end:0;
  font-size: .875rem;
  font-family: 'Roboto-Regular';
  color: #222222;
  line-height: 130%;
}

*::selection {
  background: #00e100;
  color: #19232d;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('/fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto-Italic';
  src: url('/fonts/Roboto-Italic.ttf');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('/fonts/Montserrat/static/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('/fonts/Montserrat/static/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('/fonts/Montserrat/static/Montserrat-Bold.ttf');
}