html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: .875rem;
  background-color: #F7F7F7;
  color: #222222;
}

button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  color: #007185;
}

button:hover {
  color: #C7511F;
  text-decoration: underline;
}

a {
  text-decoration: none;
  /* color: #0066cc; */
  /* color: #233323; */
  /* color: #053816; */
  color: #007185;
  /* color: #008529; */
}

a:visited {
  /* color: #0066cc; */
  /* color: #00C800; */
  color: #007185;
}

a:hover {
  color: #C7511F;
  /* color: #0066cc; */
  cursor: pointer;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
  margin:0; 
  padding:0; 
  margin-block-start:0; margin-block-end:0; margin-inline-start:0; margin-inline-end:0;
  padding-block-start:0; padding-block-end:0; padding-inline-start:0; padding-inline-end:0;
  font-size: .875rem;
  font-family: 'Roboto-Regular';
  color: #222222;
  line-height: 130%;
}

*::selection {
  background: #00e100;
  color: #19232d;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('/fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto-Italic';
  src: url('/fonts/Roboto-Italic.ttf');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('/fonts/Montserrat/static/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('/fonts/Montserrat/static/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('/fonts/Montserrat/static/Montserrat-Bold.ttf');
}