html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: .875rem;
  background-color: #F7F7F7;
  color: #222222;
}

a {
  text-decoration: none;
  color: #0066cc;
}

a:visited {
  color: #0066cc;
}

a:hover {
  color: #00e100;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin:0; 
  padding:0; 
  margin-block-start:0; margin-block-end:0; margin-inline-start:0; margin-inline-end:0;
  padding-block-start:0; padding-block-end:0; padding-inline-start:0; padding-inline-end:0;
  font-size: .875rem;
  font-family: 'Roboto-Light';
  color: #222222;
}

*::selection {
  background: #00e100;
  color: #19232d;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('/fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Lato-Black';
  src: url('/fonts/Lato-Black.ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('/fonts/Roboto-Bold.ttf');
}